{include 'partials/common/head.latte'}
{include 'partials/common/header.latte'}

<main class="{$page->template}">
    {block main}{/block}
</main>

{include 'partials/common/footer.latte'}
{include 'partials/common/foot.latte'}
