<header>
    <div class="header--inner">
        <div class="header--logo">
            <a href="{$home->url}">
                <img src="/site/templates/static/img/logo.svg" alt="{$siteTitle}">
            </a>
        </div>
        <nav class="header--nav mainnav">
            {include 'mainnav.latte'}
        </nav>
    </div>
</header>
